<%# @currency_hash.each do |currency| %>
    <!--<li> -->
    <!--<a href="/<%#= @original_currency %> / <%= @to_currency %>">-->
     <!--Convert 1 <%#= @original_currency %> to <%= currency %>...</a>-->
   <!--</li>-->
   <%# end %>

<!------------------------------------------>
<h1> Convert AED to AFN </h1>



<div> 1 AED equals 19.602529 AFN </div>
<div> </div>
<div> Go <a href="/add">back.</a></div>

<h1>Currency pairs</h1>
<a> Go </a><a  href="/"> back.</a>
